.btn {
    background-color: #222;
    color: #fff;
    padding: 0.8em 2em;
    margin-right: 2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    display: flex;

}

.btn:hover {
    color: #ffbb33;
}
